_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json
koodiesimerkit/ipython/VENV/*
koodiesimerkit/explore/VENV/*
koodiesimerkit/explore/data/*
demo/scrapy/VENV/*
luentomuistio/data/*
luentomuistio/.ipynb_checkpoints/*
koodiesimerkit/airnbn/.ipynb_checkpoints/python_scikit_airbnb-checkpoint.ipynb
luentomuistio/src/*
luentomuistio/corpus*
luentomuistio/corpora.dict
luentomuistio/VENV/*
koodiesimerkit/airnbn/VENV/
